* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
  --bs-btn-bg: #e4062b;
  --bs-btn-color: #fff;
  --bs-btn-bg: #e4062b;
  --bs-btn-border-color: #e4062b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A81E35;
  --bs-btn-hover-border-color: #A81E35;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A81E35;
  --bs-btn-active-border-color: #A81E35;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e4062b;
  --bs-btn-disabled-border-color: #e4062b;
}

.btn-outline-secondary {
  --bs-btn-color: #3D3B40;
  --bs-btn-border-color: #E5E3E8;
  --bs-btn-hover-color: #3D3B40;
  --bs-btn-hover-bg: #F6F5F7;
  --bs-btn-hover-border-color: #3D3B40;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #3D3B40;
  --bs-btn-active-bg: #E5E3E8;
  --bs-btn-active-border-color: #3D3B40;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}

.btn-outline-secondary:active {
  border: 0.0625rem solid #3D3B40;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #f8f9fa00;
  --bs-btn-hover-color: #3D3B40;
  --bs-btn-hover-bg: #F6F5F7;
  --bs-btn-hover-border-color: #c6c7c800;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #E5E3E8;
  --bs-btn-active-border-color: #c6c7c800;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.cursor-pointer {
  cursor: pointer;
}

.list-style-none {
  list-style-type: none;
}

.text-decoration-none {
  text-decoration: none;
}

.custom-link {
  text-decoration: none;
  cursor: pointer;
  color: #242326;
  transition: text-decoration 0.3s ease-out;
}
.custom-link:hover {
  text-decoration: underline;
}

.svg-icon-small {
  width: 1.125rem;
  height: 1.125rem;
}

nav .navbar-brand img {
  width: 200px;
}
nav .nav-item a {
  font-weight: 500;
}

.w-40rem {
  width: 40rem;
}

.icon-small {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.avatar-medium {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.page-bg {
  background-color: #f6f5f7;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.filter-body .nav-pills .nav-item .nav-link {
  border-radius: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  color: #726e75;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background: transparent;
  transition: background-color 200ms ease-in 0s;
}

.search .recent-search, .search .tab-content .search-section .search-box #buy-search .results {
  position: absolute;
  background: white;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 999;
}

.search {
  min-height: 240px;
  height: 300px;
  background-image: url("https://argonaut.au.reastatic.net/resi-property/prod/homepage-web/web_sml-469886432859a87045da.jpg");
  background-size: cover;
  background-position: center;
}
.search .search-wrapper {
  margin: auto;
  max-width: 46.5rem;
  width: 100%;
  min-height: 8rem;
  border-radius: 5rem;
}
.search .nav-tabs {
  overflow: hidden;
  align-items: center;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.search .nav-tabs .nav-item {
  width: 100%;
  flex: 1;
}
.search .nav-tabs .nav-item .nav-link {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #726E75;
  text-decoration: none;
  background: 0 0;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-bottom 0.1s ease-in-out;
}
.search .nav-tabs .nav-item .nav-link:hover {
  text-decoration: underline;
  background-color: #F6F5F7;
  color: #3D3B40;
}
.search .nav-tabs .nav-item .nav-link:active {
  background-color: #E5E3E8;
}
.search .nav-tabs .nav-item .active {
  border-bottom: 3px solid #e4002b;
}
.search .nav-tabs .nav-item .nav-link:focus {
  border-bottom: 3px solid #e4002b;
}
.search .tab-content .search-section {
  max-height: 11.25rem;
  overflow: hidden auto;
}
.search .tab-content .search-section .search-box {
  display: flex;
  align-items: start;
  width: 100%;
}
.search .tab-content .search-section .search-box #buy-search {
  width: 100%;
}
.search .tab-content .search-section .search-box #buy-search .results:before {
  content: "Suggested locations";
}
.search .tab-content .search-section .search-box #buy-search .search-container {
  flex-wrap: wrap;
  border: none;
  max-width: 440px;
}
.search .tab-content .search-section .search-box #buy-search .search-container .selected-items {
  flex-wrap: wrap;
}
.search .tab-content .search-section .search-box input {
  flex: 1;
}
.search .tab-content .search-section .search-box:hover {
  background: #F6F5F7;
  padding: 10px 1px;
  border-radius: 10px;
}
.search .tab-content .search-section .search-box:hover input {
  background: #F6F5F7;
}
.search .tab-content .search-section .search-box input:focus {
  background: none;
}
.search .tab-content .search-section .search-box:focus-within {
  background: none;
}
.search .tab-content .search-section .search-box:hover input:focus {
  background: none;
}
.search .tab-content .search-section input:focus .selected-item {
  flex-wrap: wrap;
}
.search .recent-search {
  display: none;
}

.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-23 {
  padding-left: 23px;
  padding-right: 23px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.p-12 {
  padding: 12px;
}

.mt-075 {
  margin-top: 0.75rem;
}

.mb-075 {
  margin-bottom: 0.75rem;
}

.lh-xl {
  line-height: 2.25rem;
}

.lh-md {
  line-height: 1.75rem;
}

.fs-1125 {
  font-size: 1.125rem;
}

.fs-075 {
  font-size: 0.75rem;
}

.fs-0875 {
  font-size: 0.875rem;
}

.link-color {
  color: #00639e;
}

.text-dark-primary {
  color: #3D3B40;
}

.search-list-container {
  max-width: 1110px;
  min-width: 25.27rem;
}

.product-entry-point .product-card-section .card-item .card {
  padding: 1rem;
  border-radius: 1rem;
}
@media screen and (max-width: 900px) {
  .product-entry-point .product-card-section .card-item .card {
    padding-bottom: 0.25rem;
    min-width: 25rem;
  }
}
.product-entry-point .product-card-section .card-item .card .card-img-top {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1.5rem;
  border-radius: 25%;
}
.product-entry-point .product-card-section .card-item .card .card-body {
  padding: 0;
}
.product-entry-point .product-card-section .card-item .card .card-body .card-link {
  text-decoration: none;
  color: #00639E;
  font-weight: 600;
}

.layout-content {
  max-width: 40rem;
}
.layout-content .divided-content ul {
  padding: 0;
}
.layout-content .divided-content .estate-list .single-estate-card {
  width: 100%;
  max-height: 37.5rem;
  min-height: 31.75rem;
  border: 1px solid white;
  border-radius: 0.75rem;
  overflow: hidden;
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-header {
  height: 3.375rem;
  width: 100%;
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-header .agent-logo {
  width: 12rem;
  height: 100%;
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-header .agent-logo img {
  width: 100%;
  height: 100%;
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-header .agent-profile .agent-avatar {
  position: relative;
  width: 5rem;
  height: 5rem;
}
@media only screen and (max-width: 576px) {
  .layout-content .divided-content .estate-list .single-estate-card .estate-card-header .agent-profile .agent-avatar {
    width: 3.125rem;
    height: 3.125rem;
  }
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-header .agent-profile .agent-avatar img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  border-radius: 100%;
  object-fit: cover;
  z-index: 2;
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-body {
  position: relative;
  height: 65%;
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-body img {
  width: 100%;
  max-height: 25rem;
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-body .under-offer {
  position: absolute;
  background-color: white;
  color: gray;
  left: 1rem;
  bottom: 1rem;
}
.layout-content .divided-content .estate-list .single-estate-card .estate-card-footer {
  height: 25%;
  padding: 1rem 1.5rem;
  background-color: white;
}

.card-sm {
  width: 18.75rem;
  border: none;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem 0px;
}

.sidebar-popup {
  width: 18.75rem;
}
.sidebar-popup .sidebar-card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem 0px;
  border-radius: 0.5rem;
}
.sidebar-popup .sidebar-card .sidebar-card-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(190, 226, 224);
  border-radius: 0.5rem 0.5rem 0 0;
}
.sidebar-popup .sidebar-card .sidebar-card-logo img {
  width: 8.5rem;
}
.sidebar-popup .sidebar-card .sidebar-card-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}
.sidebar-popup .sidebar-card .sidebar-card-header .item-1 {
  flex: 2;
  position: relative;
}
.sidebar-popup .sidebar-card .sidebar-card-header .item-1 img {
  width: 100%;
}
.sidebar-popup .sidebar-card .sidebar-card-header .item-1 p {
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
}
.sidebar-popup .sidebar-card .sidebar-card-header div {
  display: flex;
  flex: 1;
  gap: 2px;
}
.sidebar-popup .sidebar-card .sidebar-card-header div .item-2 {
  flex: 1;
  width: 50%;
}
.sidebar-popup .sidebar-card .sidebar-card-header div .item-3 {
  flex: 1;
  width: 50%;
}
.sidebar-popup .sidebar-card .sidebar-card-body {
  width: 100%;
  padding: 1rem;
}
.sidebar-popup .sidebar-card .sidebar-card-footer {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(190, 226, 224);
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
}
.sidebar-popup .sidebar-card .sidebar-card-footer .sidebar-agent-name {
  padding-left: 150px;
}
.sidebar-popup .sidebar-card .sidebar-card-footer .sidebar-agent-avatar {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.5);
  object-fit: cover;
  right: 0.5rem;
  bottom: 0.5rem;
}

.sign-in-card {
  width: 31.25rem;
  min-width: 26.875px;
  background-color: white;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  border-radius: 1rem;
}
@media only screen and (max-width: 576px) {
  .sign-in-card {
    padding: 0.75rem 0.75rem 1rem 0.75rem;
  }
}
.sign-in-card .sign-in-header {
  width: 100%;
}
.sign-in-card .sign-in-header a {
  width: 100%;
}
.sign-in-card .sign-in-header a img {
  width: 42%;
}
.sign-in-card .sign-in-header .co-brand {
  width: 100%;
}
.sign-in-card .sign-in-header .co-brand a {
  display: flex;
  justify-content: center;
}
.sign-in-card .sign-in-header .co-brand a img {
  max-height: 1rem;
  width: auto;
  transition: filter 0.1s ease;
  filter: grayscale(100%);
  opacity: 0.8;
}
.sign-in-card .sign-in-header .co-brand a img:hover {
  filter: none;
  opacity: 1;
}
.sign-in-card .sign-in-body .email-input {
  border-radius: 0.5rem;
  height: 3rem;
}
.sign-in-card .sign-in-body .email-input i {
  width: 1.25rem;
  height: 1.25rem;
}
.sign-in-card .sign-in-body .email-input .form-floating {
  height: 100%;
}
.sign-in-card .sign-in-body .email-input .form-control:focus {
  outline: none;
  box-shadow: none;
}

.filter-body .nav-pills {
  display: flex;
  justify-content: space-around;
}
.filter-body .nav-pills .nav-item {
  flex: 1;
}
.filter-body .nav-pills .nav-item .nav-link.active {
  border-bottom: 2px solid red;
}
.filter-body .nav-pills .nav-item .nav-link:hover {
  text-decoration: underline;
  color: #3d3b40;
  background: #F6F5F7;
}
.filter-body .nav-pills .nav-item .nav-link:active {
  background: #e5e3e8;
}

.collapse-link {
  text-decoration: none;
  margin-right: 0.5rem;
  color: #005180;
  font-weight: 600;
}
.collapse-link:hover {
  text-decoration: underline;
}

.local-mortage-slider .custom-carousel {
  position: relative;
}
.local-mortage-slider .custom-carousel .owl-stage {
  padding: 0px !important;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item {
  width: 13.5rem !important;
  height: 21.25rem;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card {
  height: 100%;
  width: 100%;
  border: none;
  text-decoration: none;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card img {
  width: 100%;
  height: 8rem;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-header {
  background: #006875;
  height: 3.125rem;
  border-bottom: none;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-header img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-header p {
  color: white;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-body {
  padding-bottom: 0;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-body .mortage-logo {
  width: 8.438rem;
  height: 3.375rem;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-body .broker-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-body .card-description {
  font-size: 0.875rem;
  color: #726E75;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-footer {
  background: none;
  border-top: none;
  padding-bottom: 0.75rem;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-footer a {
  color: #726E75;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-footer .footer-link {
  color: #00639E;
  text-decoration: none;
}
.local-mortage-slider .custom-carousel .owl-stage .owl-item .card .card-footer .footer-link:hover {
  text-decoration: underline;
}

.property-new-slider .custom-carousel {
  position: relative;
}
.property-new-slider .custom-carousel .owl-stage {
  padding: 0px !important;
}
.property-new-slider .custom-carousel .owl-stage .owl-item {
  width: 14rem !important;
  height: 13rem;
}
.property-new-slider .custom-carousel .owl-stage .owl-item .card {
  height: 100%;
  width: 100%;
  border: none;
  text-decoration: none;
}
.property-new-slider .custom-carousel .owl-stage .owl-item .card .card-body p {
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.property-new-slider .custom-carousel .owl-stage .owl-item .card img {
  width: 100%;
  height: 8rem;
}

.property-new-slider,
.local-mortage-slider {
  max-width: 69.375rem;
}
@media screen and (max-width: 900px) {
  .property-new-slider,
  .local-mortage-slider {
    max-width: 50rem;
  }
}
.property-new-slider .owl-nav,
.local-mortage-slider .owl-nav {
  position: absolute;
  top: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.property-new-slider .owl-nav .owl-prev,
.property-new-slider .owl-nav .owl-next,
.local-mortage-slider .owl-nav .owl-prev,
.local-mortage-slider .owl-nav .owl-next {
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff !important;
  padding: 0.75rem !important;
  box-shadow: 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-new-slider .owl-nav .owl-prev span,
.property-new-slider .owl-nav .owl-next span,
.local-mortage-slider .owl-nav .owl-prev span,
.local-mortage-slider .owl-nav .owl-next span {
  font-size: 1.5rem;
}
.property-new-slider .owl-nav .owl-prev,
.local-mortage-slider .owl-nav .owl-prev {
  margin-left: 1%;
}
.property-new-slider .owl-nav .owl-next,
.local-mortage-slider .owl-nav .owl-next {
  margin-right: 3%;
}

.real-estate-area-section {
  margin-bottom: 3.5rem;
}
.real-estate-area-section .nav-tabs {
  overflow: hidden;
  align-items: center;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.real-estate-area-section .nav-tabs .nav-item {
  width: 100%;
  flex: 1;
}
.real-estate-area-section .nav-tabs .nav-item .nav-link {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #726E75;
  text-decoration: none;
  background: 0 0;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-bottom 0.1s ease-in-out;
}
.real-estate-area-section .nav-tabs .nav-item .nav-link:hover {
  text-decoration: underline;
  background-color: #F6F5F7;
  color: #3D3B40;
}
.real-estate-area-section .nav-tabs .nav-item .nav-link:active {
  background-color: #E5E3E8;
}
.real-estate-area-section .nav-tabs .nav-item .active {
  border-bottom: 3px solid #e4002b;
}
.real-estate-area-section .nav-tabs .nav-item .nav-link:focus {
  border-bottom: 3px solid #e4002b;
}
.real-estate-area-section .tab-content .tab-list div ul {
  padding: 0;
}
.real-estate-area-section .tab-content .tab-list div ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.real-estate-area-section .tab-content .tab-list div ul li a {
  color: #726E75;
}

.advertising-section {
  border-top: 1px solid #E5E3E8;
  padding: 0.75rem;
}
.advertising-section .social-media .social-media-icon {
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}
.advertising-section .social-media .social-media-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}
.advertising-section .social-media .social-media-icon svg path {
  transition: fill 0.3s ease;
}
.advertising-section .social-media .social-media-icon svg path:hover {
  fill: #242326;
}
.advertising-section .page-ads a {
  font-size: 0.875rem;
  color: #726E75;
  text-decoration: none;
}
.advertising-section .page-ads a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  background-color: #F6F5F7;
}

/*# sourceMappingURL=index.css.map */
