$bg-hover-primary: #F6F5F7;
$bg-press-primary: #e5e3e8;

$ck-backgroundPrimary: #ffffff;
$bg-secondaryBase: #F6F5F7;

$text-selected: #3d3b40;
$text-secondary: #726e75;

$filter-link: #005180;
$ck-linkPrimary: #00639E;
$ck-linkSecondary: #726E75;
$ck-linkHover: #242326;


$black: black;
$ck-textSecondary: #726E75;

$ck-borderSecondary: #E5E3E8;

$small: 540px;
$medium: 900px;