$bg-hover-primary: #F6F5F7;
$bg-press-primary: #e5e3e8;

$text-selected: #3d3b40;
$text-secondary: #726e75;

$filter-link: #005180;
$ck-linkPrimary: #00639E;

$ck-backgroundPrimary: #ffffff;
$black: black;

$ck-textSecondary: #726E75;
$small: 540px;
$medium: 900px;