@use '../global/variable' as *;
* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
}

.btn-primary {
    --bs-btn-bg: #e4062b;
    --bs-btn-color: #fff;
    --bs-btn-bg: #e4062b;
    --bs-btn-border-color: #e4062b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #A81E35;
    --bs-btn-hover-border-color: #A81E35;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #A81E35;
    --bs-btn-active-border-color: #A81E35;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e4062b;
    --bs-btn-disabled-border-color: #e4062b;
}

.btn-outline-secondary {
    --bs-btn-color: #3D3B40;
    --bs-btn-border-color: #E5E3E8;
    --bs-btn-hover-color: #3D3B40;
    --bs-btn-hover-bg: #F6F5F7;
    --bs-btn-hover-border-color: #3D3B40;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #3D3B40;
    --bs-btn-active-bg: #E5E3E8;
    --bs-btn-active-border-color: #3D3B40;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}

.btn-outline-secondary:active {
    border: 0.0625rem solid #3D3B40;
}

.btn-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #f8f9fa00;
    --bs-btn-hover-color: #3D3B40;
    --bs-btn-hover-bg: #F6F5F7;
    --bs-btn-hover-border-color: #c6c7c800;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #E5E3E8;
    --bs-btn-active-border-color: #c6c7c800;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}

.cursor-pointer {
    cursor: pointer;
}
.list-style-none{
    list-style-type: none;
}
.text-decoration-none{
    text-decoration: none;
}
.custom-link {
    text-decoration: none;
    cursor: pointer;
    color: $ck-linkHover;
    transition: text-decoration 0.3s ease-out;
    &:hover {
        text-decoration: underline;
    }
}
.svg-icon-small{
    width: 1.125rem;
    height: 1.125rem;
}
nav {
    .navbar-brand {
        img {
            width: 200px;
        }
    }
    .nav-item {
        a {
            font-weight: 500;
        }
    }
}
.w-40rem{
    width: 40rem;
}
.avatar-medium{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}
.page-bg{
    background-color: #f6f5f7;
}
.full-screen{
    width: 100vw;
    height: 100vh;
}