.py-11{
    padding-top: 11px;
    padding-bottom: 11px;
}
.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.px-23{
   padding-left: 23px;
   padding-right: 23px;
}
.px-24{
    padding-left: 24px;
   padding-right: 24px;
}
.px-18{
    padding-left: 18px;
   padding-right: 18px;
}
